body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ccc;
  margin: 0;
}

.slot-machine {
  display: flex;
  background-color: #444;
  padding: 20px;
  border-radius: 5px;
}

.slot {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  width: 50px;
  margin: 0 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
}
/* Add this to your existing styles.css file */
.start-button {
  display: inline-block;
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
